@import "../../scss/config";

.projects {
  &-title {
    margin-left: 10%;
    @include mainFont(3rem);
  }

  &-card-container{
    width: 80%;
    margin: 1rem auto 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  &-sort > .btn {
    @include inline-block(1rem, 3rem);
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 1rem 10%;
    cursor: pointer;
  }
}
