@import "../../scss/config";

.projects {
  &-title {
    margin-left: 10%;
    @include mainFont(3rem);
  }

  &-card {
    @include inline-block(225px, 225px);
    border: 1px white solid;

    &-container {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      margin: 1rem 10% 1rem 10%;
      z-index: 2;
    }
  }

  &-sort > .btn{
    @include inline-block(1rem, 3rem);
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin-left: 10%;
    cursor: pointer;
  }
}
