@import "../../scss/config";

.btn {
  @include mainFont;
  @include transit(all, 0.25s);
  cursor: pointer;
}

.dark-mode {
  .btn:hover {
    background-color: $dark-mode-light;
  }
}

.white-mode {
  .btn:hover {
    background-color: $white-mode-dark;
  }
}
