@use "sass:color";
@import "../../scss/config";

.front {
  height: 92.23vh;
  width: 100vw;
  margin: 0;
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &-card {
    margin-left: 10%;
    margin-right: 40%;
    height: 92.23vh;
    padding-top: 10rem;

    &,
    & * {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  h1 {
    @include mainFont(3rem);
  }

  p {
    @include secFont(1.5rem);
  }

  .btn {
    @include inline-block(1rem, 6rem);
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

.dark-mode .front {
  background-image: linear-gradient($dark-mode, rgba(0, 0, 0, 0), $dark-mode),
    url("../../assets/img/front_cover_black.jpg");

  &-card {
    .btn {
      background-color: color.scale($dark-mode, $alpha: -15%);
    }
  }
}

.white-mode .front {
  background-image: linear-gradient($white-mode, rgba(0, 0, 0, 0), $white-mode),
    url("../../assets/img/front_cover_white.jpg");

  &-card {
    .btn {
      background-color: color.scale($dark-mode, $alpha: -50%);
    }
  }
}

@include media-l {
  .front {
    &-card {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

@include media-m {
  .front {
    margin: 0;

    &-card {
      margin: 0 20% 0 20%;
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
      }
      .btn {
        display: block;
        margin: 1rem auto 1rem auto;
      }
    }
  }
}

@include media-s {
  .front {
    &-card {
      h1 {
        font-size: 1.25rem;
      }
      p {
        font-size: 1rem;
      }
      .btn {
        font-size: 0.8rem;
        padding: 0.8rem 0;
      }
    }
  }
}

@include media-xs {
  .front {
    &-card {
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }
}
