@use "sass:color";
@import "../../scss/config";

.front {
  height: 92.23vh;
  width: 99vw;
  background-image: linear-gradient(#fff, rgba(0, 0, 0, 0), #fff),
    url("../../assets/img/front_cover_white.jpg");

  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &-card {
    margin-left: 10%;
    margin-right: 40%;
    height: 92.23vh;
    padding-top: 10rem;

    h1 {
      font-family: "Roboto";
      font-size: 3.8rem;
    }

    p {
      font-family: "Lato";
      font-size: 1.5rem;
    }

    .btn {
      font-family: "Lato";
      @include inline-block(1rem, 6rem);
      text-align: center;
      padding: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      background-color: rgba(0, 0, 0, 0.25);
      color: black;
    }
  }
}

.front.dark-mode {
  background-image: linear-gradient($dark-mode, rgba(0, 0, 0, 0), $dark-mode),
    url("../../assets/img/front_cover_black.jpg");
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  .front-card {
    .btn {
      background-color: color.scale($dark-mode, $alpha: -15%);
      color: #fff;
    }
  }
}

@include media-l {
  .front {
    &-card {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

@include media-m {
  .front {
    &-card {
      margin: 0 20% 0 20%;
      text-align: center;

      h1 {
        font-size: 2rem;
      }

      p{
        font-size: 1.25rem;
      }
      .btn {
        display: block;
        margin: 1rem auto 1rem auto;
      }
    }
  }
}

@include media-s {
  .front{
    &-card{
      h1{
        font-size: 1.8rem;
      }
      p{
        font-size: 1rem;
      }
      .btn{
        font-size: 0.8rem;
        padding: 0.8rem 0;
      }
    }
  }
}
