@import "../../scss/config";

//common style
.header {
  height: 3rem;
  position: sticky;
  top: 0;
  @include center;
  transition: transform 0.2s ease-in-out;

  &.hide {
    transform: translateY(-75px);
  }

  &-menu {
    display: flex;
    height: 100%;

    li {
      @include inline-block;
    }

    ul,
    .btn {
      text-decoration: none;
      @include inline-block;
      padding: 1rem;
      cursor: pointer;
    }
  }
  
  &-separator {
    width: 65%;
  }

  &-logo {
    padding: 1rem 1rem;
  }

  &-menu-btn {
    display: none;
    min-width: 1.25rem;
    cursor: pointer;
  }
}

//media queries
@include media-m {
  .header {
    &.hide {
      transform: translateY(-500px);
    }

    &-logo {
      flex-grow: 10;
      z-index: 3;
    }

    &-separator {
      display: none;
    }

    &-menu {
      z-index: 2;
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 388px;
      width: 100vw;
      transform: translateY(-388px);
      transition: transform 0.2s ease-in-out;

      &.showMenu {
        transform: translateY(227px);
      }

      li,
      .header-button,
      .btn {
        text-align: center;
      }
    }

    &-menu-btn {
      z-index: 3;
      text-decoration: none;
      @include inline-block;
      padding: 1rem;
      color: darken(#fff, 100%);
    }
  }
}
