@import "../../scss/config";

.selectMenu {
  width: 80%;
  transition: height 0.5s ease-in-out;
  display: flex;
  align-content: space-around;
  margin: auto;

  .btn {
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 17%;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  &.show {
    height: 75px;
  }

  &.hide {
    height: 0px;
    * {
      background-color: rgba(0, 0, 0, 0);
      color: rgba(0, 0, 0, 0);

      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

@include media-m {
  .selectMenu {
    flex-direction: column;

    &.show {
      height: 450px;
    }

    .btn {
      width: 100%;
    }
  }
}
