@import "../../scss/config";

.selectMenu {
  width: 80%;
  background-color: #ccc;
  transition: height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: auto;

  .btn {
    text-align: center;
    padding: 1rem 0 1rem 0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  &.show {
    height: 450px;
  }

  &.hide {
    height: 0px;
    * {
      background-color: rgba(0, 0, 0, 0);
      color: rgba(0, 0, 0, 0);
    }
  }
}
