//variables
$dark-mode: #20232a;

//mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-block($height: auto, $width: auto) {
  display: inline-block;
  height: $height;
  width: $width;
}

@mixin border() {
  border: 1px black solid;
}


@mixin media-s{
  @media screen and (max-width: 600px){
    @content;
  }
}

@mixin media-m {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin media-l{
  @media screen and (max-width: 1000px){
    @content;
  }
}