//variables
$dark-mode: #20232a;
$white-mode: #ffffff;
$animation-duration: 0.5s;

//mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-block($height: auto, $width: auto) {
  display: inline-block;
  height: $height;
  width: $width;
}

@mixin mainFont($size: 1rem) {
  font-family: "Roboto", "sans-serif";
  font-size: $size;
}

@mixin secFont($size: 1rem) {
  font-family: "Lato", "sans-serif";
  font-size: $size;
}

@mixin transit($property, $duration : $animation_duration){
  transition: $property $duration ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-xs {
  @media screen and (max-width: 350px) {
    @content;
  }
}

@mixin media-s {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin media-m {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin media-l {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
