@import "../../scss/config";

.contacts {
  &-title {
    margin: 2rem 0 2rem 10%;
    @include mainFont(3rem);
  }

  ul {
    width: 80%;
    margin: auto;

    .btn {
      padding: 1rem;
    }
  }

  &-copyInfo {
    margin: auto;
    width: 80%;
    transition: height 0.5s ease-in-out, color 0.5s ease-in-out;
    @include mainFont;
    @include center;

    &.hide {
      height: 0px;
      color: rgba(0, 0, 0, 0);
    }

    &.show {
      height: 3rem;
    }
  }
  .clipboard {
    position: absolute;
    top: -1px;
  }
}

@include media-m{
  .contacts{
    &-title{
      margin: 2rem auto 2rem auto;
      text-align: center;
      font-size: 2.5rem;
    }

    ul{
      text-align: center;
      .btn{
        font-size: 0.75rem;
      }
    }
  }
}


@include media-s {
  .contacts {
    &-title {
      font-size: 1.5rem;
    }
  }
}

@include media-xs {
  .contacts {
    &-title {
      font-size: 1rem;
    }
  }
}
